NEXT_PUBLIC_API_URL="http://localhost:3000/api" # the URL of your backend API.
NEXTAUTH_SECRET="secret" # random string to secure NextAuth.js
# RevoU API
# NEXT_PUBLIC_API_URL="https://mamabear-backend-dev.up.railway.app/api"

# Dev API
NEXT_PUBLIC_API_URL="https://vi-mamabear-backend.onrender.com/api"

# Local API
# NEXT_PUBLIC_API_URL="http://localhost:3001/api"

# Secret
NEXTAUTH_SECRET="mamabear_secret_key_123"